<%- include("./templates/header.ejs",{titleWeb : "Loading"}) %>

<body>
    <header class="cabecera">
        <h1> Loading </h1>
    </header>

    <section id="contentQuiz" class="cuerpo">
        
    </section>

    <section class="cuerpo" id="checkBox">
        <button id="check"> Comprobar </button>
    </section>

    <footer class="pie">
        <p> Made by Carlos Espinoza </p>
    </footer>

    <script src="./js/playMain.js"></script>
</body>
</html>